:root{
  --primary-color:#012a4a;;
  --secondary-color:#a9d6e5;
  --back-color: #21252946;
}

body{
  text-align: center;
  height: 98.5vh;
  margin: 0;
  padding: 0 .5rem;
  background: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
}

#root{
  height: 100%;
}

.App {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

