:root{
  --primary-color:#012a4a;
  --secondary-color:#a9d6e5;
  --back-color: #21252946;
  --nav-color:#012a4aca;
}

body{
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0 .5rem;
  background-image: linear-gradient(to top, #010d0c, #112c2a, #174b48, #196d69, #17918b, #17918b, #17918b, #17918b, #196d69, #174b48, #112c2a, #010d0c);
  background-position: bottom;  
}

#root{
  height: 100%;
}

.App {
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

html::-webkit-scrollbar{
  width: 10px;
}
html::-webkit-scrollbar-track{
  background-color: #00ffee;
}
html::-webkit-scrollbar-thumb{
  background-color: #00fff2;
  border-radius: 10px;
}