.container{
    background-color: var(--back-color);
    box-shadow: 0px 10px 15px var(--back-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
    height: 97vh;
    
}

    .image{
        margin: 1rem;
        border-radius: 50%;
        box-shadow: 0 5px 10px #046458;
    }
        .image img{
            width: 100%;
        }
    .button{
        position: relative;
        padding: 1em 1.8em;
        outline: none;
        border: 1px solid #073b4c;
        background:#073b4c;
        background: linear-gradient(to top right, #212529, #073b4c);
        color: #f8f9fa;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 15px;
        overflow: hidden;
        transition: 0.2s;
        border-radius: 15px;
        cursor: pointer;
        font-weight: bold;
    }

    .button:hover{
        box-shadow: 0 0 10px  #010d0c, 0 0 25px #046458, 0 0 50px #112c2a;
        transition-delay: 0.6s;
    }
    .button span{
        position: absolute;
    }
    .button span:nth-child(1){
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg,transparent,#d00000);
    }
    .button:hover span:nth-child(1){
        left: 100%;
        transition: 0.7s;
    }
    .button span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #e85d04);
       }
       
       .button:hover span:nth-child(3) {
        right: 100%;
        transition: 0.7s;
        transition-delay: 0.35s;
       }
       .button span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #dc2f02);
       }
       
       .button:hover span:nth-child(2) {
        top: 100%;
        transition: 0.7s;
        transition-delay: 0.17s;
       }
       
       .button span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #f48c06);
       }
       
       .button:hover span:nth-child(4) {
        bottom: 100%;
        transition: 0.7s;
        transition-delay: 0.52s;
       }
       
       .button:active span:nth-child(1) 
       span:nth-child(2) 
       span:nth-child(2) 
       span:nth-child(2) {
        transition: none;
        transition-delay: none;
       }       

       /* From uiverse.io by @Z-C-Code */
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 16px;
     top: 0;
    }
   
    23% {
     left: 16px;
     top: 0;
    }
   
    25% {
     left: 32px;
     top: 0;
    }
   
    35.5% {
     left: 32px;
     top: 0;
    }
   
    37.5% {
     left: 32px;
     top: 16px;
    }
   
    48% {
     left: 32px;
     top: 16px;
    }
   
    50% {
     left: 16px;
     top: 16px;
    }
   
    60.5% {
     left: 16px;
     top: 16px;
    }
   
    62.5% {
     left: 16px;
     top: 32px;
    }
   
    73% {
     left: 16px;
     top: 32px;
    }
   
    75% {
     left: 0;
     top: 32px;
    }
   
    85.5% {
     left: 0;
     top: 32px;
    }
   
    87.5% {
     left: 0;
     top: 16px;
    }
   
    98% {
     left: 0;
     top: 16px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .containerLoader{
    position: fixed;
    bottom: 1rem;
    left: 1rem;
   }
   .loader {
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
   }
   
   .loaderSquare {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loaderSquare:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loaderSquare:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loaderSquare:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loaderSquare:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loaderSquare:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loaderSquare:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loaderSquare:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loaderSquare:nth-of-type(7) {
    animation-delay: -10s;
   }